@import "../../styles/colors";
@import "../../styles/_mixins";

.inspiration {
    width: 100%;
    padding: 0 16px;
    background: linear-gradient(180deg, rgba(249,246,244,1) 0%, rgba(255,255,255,1) 16%);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/images/bkg-watercolor-01.svg);
        background-repeat: no-repeat;
        background-position: calc(50% - 520px) 18%;
        z-index: 1;

        @include responsiveMax(600px) {
            background-position: 50% 8%;
        }
    }

    .inspiration_container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 1500px;

        .inspiration_title{
            margin-top: 100px;

            h2 {
                font-size: 48px;
                margin-top: -4px;

                @include responsiveMax(648px) {
                    font-size: 2.6rem;
                }

                @include responsiveMax(426px) {
                    line-height: 115%;
                    margin-top: 10px;
                }
            }

            h3 {
                position: relative;
                font-size: 16px;
                padding-left: 32px;

                @include responsiveMax(648px) {
                    font-size: 12px;
                }

                &::before {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: $primary;
                    position: absolute;
                    top: 45%;
                    left: 0;
                }

                &::after {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: $primary;
                    position: absolute;
                    top: 45%;
                    left: 138px;
                }
            }
        }

        .destaques {
            z-index: 2;
            margin-bottom: 64px;
    
            .destaques_container {
                position: relative;
                display: flex;
                gap: 32px;
                margin-top: 60px;
    
                @include responsiveMax(1280px) {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}

.instagram a {
    padding: 14px 10px 10px 10px;
    background-color: #FFF;
    border: 1px solid #000;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1rem;

    &:hover {
        background-color: #3F3F3F;
        color: $secondary;
    }
}
