@import "../../../styles/colors";

.primaryButton {
    display: flex;

    a {
        position: relative;
        color: #505050;
        background-color: #FFF;

        border: 1px solid #FFF;
        border-radius: 16px;

        padding: 8px 36px;
        margin-top: 28px;

        font-size: 1.125rem;

        overflow: hidden;
        transition: all 0.5s ease;

        &:hover {
            border: 1px solid #FFF;
            background: transparent;
            color: #FFF;
        }

        &:before {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #505050;
            animation: btn 3s ease-in-out infinite;
        }

        @keyframes btn {
            0% { transform: scale(0) rotate(45deg); opacity: 0; }
            80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
            81% { transform: scale(4) rotate(45deg); opacity: 1; }
            100% { transform: scale(50) rotate(45deg); opacity: 0; }
        }

        &:first-child {
            margin-right: 28px;
        }
    }
}