@import "../../styles/colors";
@import "../../styles/shadows";
@import "../../styles/mixins";

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 230px;

    display: flex;
    position: relative;
}

.main_left {
    max-width: 600px;
    margin: 280px 0 100px;

    transition: all 0.5s ease;

    h2 {
        font-size: 3rem;
        line-height: 115%;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 1.2rem;
        line-height: 150%;
    }
}

.main_off {
    transform: rotate(-2deg) scale(1.06);
    opacity: 0;
}

.main_buttons {
    display: flex;

    button {
        position: relative;
        color: #FFF;
        background-color: $button_color;

        border: 1px solid $button_color;
        border-radius: 16px;

        padding: 8px 36px;
        margin-top: 28px;

        font-size: 1.125rem;

        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            border: 1px solid $button_color;
            background: transparent;
            color: $primary;
        }

        &:before {
            position: absolute;
            content: '';
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #fff;
            animation: btn 3s ease-in-out infinite;
        }

        @keyframes btn {
            0% { transform: scale(0) rotate(45deg); opacity: 0; }
            80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
            81% { transform: scale(4) rotate(45deg); opacity: 1; }
            100% { transform: scale(50) rotate(45deg); opacity: 0; }
        }

        &:first-child {
            margin-right: 28px;
        }
    }
}

.main_image_pinca {
    position: fixed;
    top: 4px;
    left: -40px;
    transition: 0.5s ease;

    > img {
        max-width: 400px;
    }
}

.pinca_off {
    opacity: 0;
}

.scrollImg {
    display: flex;
    justify-content: center;

    img {
        width: 30px;
    }
}

@include responsiveMax(1720px) {
    .main_image_pinca {
        left: -210px;
    }
}

@include responsiveMax(1366px) {
    .main_image_pinca {
        left: -280px;
    }
}

@include responsiveMax(648px) {
    .main {
        overflow: hidden;
    }
    .main_left {
        h2 {
            font-size: 2.6rem;
        }
    
        h1 {
            font-size: 1.2rem;
            line-height: 150%;
        }
    }
}

@include responsiveMax(480px) {
    .main_image_pinca {
        display: none;
    }

    .main_left {
        h2 {
            font-size: 2.5rem;
        }
    
        h1 {
            font-size: 1.2rem;
            line-height: 150%;
        }
    }

    .main_buttons {
        justify-content: center;
    }
}