@import "../../styles/colors";
@import "../../styles/mixins";

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1280px;
    margin: 0 auto;
    padding: 8px 16px;

    position: relative;

    .logo {
        > a img {
            max-width: 380px;
            transition: all 1s ease;
        }
    }

    .logoScroll {
        > a img {
            max-width: 140px;
            transition: all 1s ease;
        }
    }

    nav {
        display: flex;
        position: relative;

        ul {
            display: flex;
            list-style: none;
            gap: 16px;
            position: relative;

            li a {
                display: inline-block;
                position: relative;
                transition: all 0.3s ease-in-out;

                &::after {
                    content: '';
                    background: #c59d5f;
                    display: block;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    transition: all 0.3s ease-in-out;
                }

                &:hover::after {
                    width:100%;
                }
            }
        }

        > div {
            position: absolute;
            right: 0;
            top: -25px;

            > a img:first-child {
                margin-right: 16px;
            }
        }
    }
}

.social {
    display: flex;

    a {
        transition: all .5s ease;

        img {
            margin-right: 0px !important;
        }

        &:first-child {margin-right: 16px }

        &:hover {transform: translateY(-4px); transition: all .5s ease;}
    }
}

.buttonMenu {
    position: absolute;
    right: 16px;

    font-size: 48px;
    cursor: pointer;

    transition: 0.6s ease;

    &:hover {
        color: $secondary;
    }
}

// Menu Mobile

#openMobile {
    width: 100vw;
}

.overlay {
    width: 0;
    height: 100vh;
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.94);
    overflow-x: hidden;
    transition: 0.5s;

    .closebtn {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 48px;
        cursor: pointer;

        &:hover {
            color: $secondary;
            transition: 0.6s ease;
        }
    }

    > div {
        position: relative;
        top: 15%;   
        width: 100%;
        text-align: center;

        > ul {
            display: flex;
            flex-direction: column;
            gap: 18px;

            .active_link_mobile {
                color: #FFF;
            }

            li {
                font-size: 1.6rem;
                color: $primary;

                @media screen and (max-height: 650px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .socialMobile {
        margin-top: 32px;

        a {
            &:first-child {
                margin-right: 32px ;
            }
        }
    }
  }

  @include responsiveMax(1200px) {
    .header_container {
        justify-content: center !important;

        > nav {
            display: none !important;
        }
    }
  }

    @include responsiveMin(1201px) {
        .header_container {
            > .buttonMenu {
                display: none;
            }
        }
    }

    @include responsiveMax(1200px) {
        .header_container {
            .logo {
                > a img {
                    max-width: 320px;
                }
            }
        
            .buttonMenu {
                font-size: 32px;
                top: 18px;
            }
        }
    }