@import "../../styles/colors";
@import "../../styles/_mixins";

.experts {
    width: 100%;
    background-color: #3F3F3F;

    .experts_container{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: 1500px;

        .title {
            margin-top: 60px;

            h2 {
                font-size: 48px;
                margin-top: -4px;
                color: #FFF;

                @include responsiveMax(648px) {
                    font-size: 2.6rem;
                }

                @include responsiveMax(426px) {
                    line-height: 115%;
                    margin-top: 10px;
                }
            }

            h3 {
                position: relative;
                font-size: 16px;
                padding-left: 32px;
                color: #FFF;

                @include responsiveMax(648px) {
                    font-size: 12px;
                }

                &::before {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: #FFF;
                    position: absolute;
                    top: 45%;
                    left: 0;
                }

                &::after {
                    content: "";
                    width: 25px;
                    height: 1px;
                    background-color: #FFF;
                    position: absolute;
                    top: 45%;
                    left: 200px;
                }
            }
        }

        .expertN1 {
            width: 100%;
            position: relative;
            margin-top: 40px;
            display: flex;

            .description {
                max-width: 640px;
                padding-bottom: 64px;

                h4 {
                    font-size: 32px;
                    color: #C59D5F;
                }

                p {
                    font-size: 18px;
                    color: #FFF;
                }
            }

            .img_expert {
                position: absolute;
                bottom: -9px;
                right: 0;
            }
        }
    }
}